<component name="ArtifactManager">
  <artifact type="war" name="springboot03-webdemo:war">
    <output-path>$PROJECT_DIR$/springboot03-webdemo/target</output-path>
    <root id="archive" name="springboot03-webdemo-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot03-webdemo:war exploded" />
    </root>
  </artifact>
</component>